.startSection {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .startSectionContainer {
    height: 762px;
    background-color: #fff;
    width: 1730px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .mainHeading {
      font-size: 53px;
      font-weight: 400;
      line-height: 60px;
      letter-spacing: -0.01em;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-bottom: 46px;
    }
    .searchItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 500px;
      background: #f1f1f1;
      padding: 10px 10px 10px 24px;
      border-radius: 60px;
      margin-bottom: 56px;
      .searchText {
        font-size: 16px;
        font-weight: 300;
        line-height: 27px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #9f9fa4;
        white-space: nowrap;
        span {
          color: transparent;
          background: #9f9fa4;
          background-clip: text;
          position: relative;
        }
        span::before {
          content: "";
          position: absolute;
          top: 50%;
          right: -5px;
          transform: translateY(-45%);
          height: 17.5px;
          width: 1.5px;
          background: #9f9fa4;
          animation: opacity 0.75s infinite;
        }

        @keyframes opacity {
          0% {
            opacity: 1;
          }

          50% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }
    }
    .iconItem {
      display: flex;
      flex-direction: row;
      gap: 31px;
      .icon {
        width: 50px;
        height: 50px;
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .searchText {
    width: 325px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .startSection .startSectionContainer .mainHeading {
    max-width: 500px;
    line-height: 54px;
    margin-bottom: 30px;
  }
  .startSection .startSectionContainer .searchItem {
    max-width: 400px;
    width: 100%;
    background: #f1f1f1;
    padding: 10px 10px 10px 24px;
    border-radius: 60px;
    margin-bottom: 36px;
  }
  .startSection .startSectionContainer {
    width: auto;
    padding: 0px 1.2rem;
  }
}

@media only screen and (max-width: 430px) {
  .searchText {
    width: 315px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 420px) {
  .searchText {
    width: 303px;
  }
}
@media only screen and (max-width: 410px) {
  .searchText {
    width: 294px;
  }
}

@media only screen and (max-width: 400px) {
  .searchText {
    width: 284px;
  }
}

@media only screen and (max-width: 390px) {
  .searchText {
    width: 274px;
  }
}

@media only screen and (max-width: 380px) {
  .searchText {
    width: 264px;
  }
}

@media only screen and (max-width: 370px) {
  .searchText {
    width: 254px;
  }
}

@media only screen and (max-width: 360px) {
  .searchText {
    width: 244px;
  }
}
